*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.*~
*~
*.asv
*.*#
# ignore CMake files for deal.II examples
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Ignore outputs for deal.II examples
*.vtk
# lec26a
